<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bascket</title>
</head>
<body>

    <h2>It's bascket</h2>



    {% for field in form %}

        <form method="POST" class="form">
            {% csrf_token %}
        <div>
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }}
        </div>
        </form>
    {% endfor %}
    <form action="{% url 'done' %}" method="post">
           {% csrf_token %}
    <button  type="submit">Send</button>
    </form>

</body>
</html>