{% extends 'base.html' %}
{% load static %}

{% block css_additional%}
<link rel="stylesheet" href="{% static "pizzashopapp/css/mystyle.css" %}">
{% endblock %}

{% block title %}
    Main page
{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
<h1>Пиццы:</h1>
<div class="row">
  {% for pizza in pizzas %}
    <div class="col-lg-4 col-sm-6">
      <div class="card">
        <img src="{{ pizza.photo }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ pizza.name }}</h5>
           <div class="container-description">
            <div class="card-description">{{ pizza.description }}</div>
           </div>

          <p class="card-text">{{ pizza.price }} руб.</p>
          <a href="#" class="btn btn-primary">Add in bascket</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h1>Супчики:</h1>
<div class="row">
  {% for soup in soups %}
    <div class="col-lg-4 col-sm-6">
      <div class="card">
        <img src="{{ soup.photo }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ soup.name }}</h5>

           <div class="container-description"><div class="card-description">{{ soup.description }}</div>
           </div>
          <p class="card-text">{{ soup.price }} руб.</p>
          <a href="#" class="btn btn-primary">Buy now</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

