
.container-description {
  width: 420px;
  padding: 1rem;
}
.card-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties as desired */
}
.row {
/*display: inline-block;*/
/*vertical-align: middle;*/
/*margin: 10px 5px;*/
  display: flex;
align-items: stretch;
}

element.style {
}

.plus-minus .plus-item {
  /*cursor: pointer;*/
  /*cursor: hand;*/
  display: inline-block;
  vertical-align: top;
  color: #fff;
  width: 30px;
  height: 30px;
  font: 30px/1 Malina, sans-serif;
  letter-spacing: -1px;
  text-align: center;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-text-stroke: 1px transparent;
  -webkit-font-smoothing: antialiased;
  background-color: #277dff;
